.block1722 {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  row-gap: 8px;
  margin-bottom: 8px;
  flex-wrap: wrap;

  .block1722__buttons {
    display: flex;
    column-gap: 8px;
  }

}

.blk-tags {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.block1948 {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.block1722, .blk-tags, .blk0921-pagination {
  & button {
    background: transparent;
    border: 0;

    &:hover {
      cursor: pointer;
    }
  }
}
